h1, h1.header, input[type=text]:focus {
    border-color: #a11;
}
.emphasize,
a, a:link, a:visited, a:link:visited {
    color: #900;
}
input[type="submit"], input[type="button"], button {
    background-color: #900;
}
.suggestItems .suggestValue {
  color: #900;
}
