#template("colorThemeInit.vm")
.accepted-suggestions {
  display: none;
}
.project-table tbody td {
  border-bottom: 1px solid $theme.borderColor;
  border-left-width : 0px;
  border-right-width: 0px;
}
.project-table tfoot td {
  border-top: 3px solid $theme.borderColor;
}
.project-table .tool.delete {
  color: $theme.notificationErrorColor;
  cursor: pointer;
  width: 32px;
}
.project-table .highlight {
  background-color: $theme.highlightColor !important;
  color: $theme.notificationErrorColor;
}
.project-table .new {
  background-color: $theme.highlightColor;
}
.project-table {
  width: 320px;
  font-size: 14px;
}
.project-table tfoot td{
  border: 0;
}
.mainTd {
  width: 100%;
}
.project-tools {
  float: right;
  margin-top: -3em;
}
.project-leader-info {
  text-align: justify;
  padding-bottom: 20px !important;
}
.project-leader-avatar {
  float: left;
  margin: 0 10px 10px 0;
}
.project-leaders-block {
  width: 30%;
  min-width: 340px;
  float: left;
  margin-top: 10px;
}
.project-contributors-block, .project-observers-block {
  width: 30%;
  float: left;
  margin-right: 1em;
  margin-top: 10px;
}
.project-patients-block {
  width: 100%;
  float: left;
}
.doc-tools a.doc-tool.delete {
  margin: -1.2em -0.3em 0 0!important;
  padding: .1em 0 0 .3em!important;
}
input.suggestProjectUsers {
    background-image: url("/resources/icons/datamodel/users.png");
}
input.suggestProjectGroups {
    background-image: url("/resources/icons/datamodel/groups.png");
}
input.suggestProjectUsers, input.suggestProjectGroups {
    background-position: .3em center;
    background-repeat: no-repeat;
    padding-left: 2em;
}
.suggestList img {
  height: 20px;
  margin-right: 7px;
}