#charts-new {
  box-sizing: border-box;
  float: right;
  height: 100%;
  padding: 15px;
  padding-left: 190px;
  position: relative;
  width: 48%;
}
#charts-new .chart-thumbs {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 1px 8px #DDDDDD inset;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 180px;
}
#charts-new .chart-thumbs > div.selected {
  border-color: #666;
}
#charts-new .chart-thumbs > div.selected > span {
  font-weight: bold;
}
#charts-new .chart-thumbs > div {
  background-color: white;
  border: 1px solid #aaa;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 10px;
}
#charts-new .chart-thumbs > div > span {
  display: block;
  padding-bottom: 5px;
  text-align: center;
}
#charts-new .chart-thumbs img {
  display: block;
  margin: 0 auto;
  width: 100px;
}
#charts-new img.main {
  max-height: 100%;
  max-width: 100%;
  padding: 0;
}
#charts-new .sets {
  left: 0;
  position: absolute;
  top: 0;
  width: 120px;
}
#charts-new .sets > div.selected::after {
  content: ' >';
}
#charts-new .sets > div {
  cursor: pointer;
  padding: 10px;
}
#measurements-container {
  clear: both;
  position: relative;
}
#measurements {
  float: left;
  width: 485px;
}
.measurement {
  clear: both;
  overflow: auto;
  padding: 0.2em 0;
}
#measurements .list-actions {
  clear: both;
  width: auto;
}
.measurement > * {
  float: left;
}
.measurement-row {
  clear: both;
}
.measurement-row span.side-label {
  font-size: 80%;
  font-weight: bold;
  text-align: right;
  width: 15px;
}
.measurement-row span.val.empty {
  text-align: center;
}
.measurement-row div.metric,
.measurement-row div.imperial {
  width: 120px;
}
.measurement-row span.unit {
  width: 60px;
}
.measurement-row span.pctl {
  font-size: 80%;
  width: 120px;
}
.measurement-row span.val {
  margin: 0 6px;
  text-align: right;
  width: 40px;
}
.measurement-row > label,
.measurement-row > span,
.measurement-row > div,
.measurement-row span.val {
  display: block;
  float: left;
  line-height: 20px;
  min-height: 1px;
}
.measurement-row input {
  margin: 0 3px;
  width: auto;
}
.viewbody .clinical-info .measurement-set label {
  width: auto;
}
.editbody .measurement-row > label,
.viewbody .clinical-info .measurement-row > label {
  width: 180px;
}
.normal {
  color: green;
}
.below-normal,
.above-normal {
  color: orange;
}
.extreme-below-normal,
.extreme-above-normal {
  color: red;
}
.measurement-set.proto {
  display: none;
}
.measurement-set {
  border: 1px dotted #aaa;
  clear: both;
  float: left;
  margin: 5px;
  overflow: auto;
  padding: 10px;
  position: relative;
}
.measurement-set .measurements {
  border-top: 1px dotted #aaa;
  margin-top: 8px;
  padding-top: 8px;
}
.measurement-set input[type=text] {
  width: auto;
}
.measurement-set .delete {
  float: right;
  margin-left: 15px;
}
.measurement-set .age {
  float: right;
}
.measurement-set .age span {
  display: inline-block;
  text-align: right;
  width: 85px;
}
.new-measurement-select {
  width: 190px;
}
div.birthdate {
  float: left;
}
.computed-values {
  margin-top: 20px;
}
.computed-values .measurement-row input {
  border: 1px solid white;
}