#template("colorThemeInit.vm")
/* =========================================
 * GENERAL
 */
#body {
  overflow: hidden;
}
/* =========================================
 * NOTIFICATIONS
 */
#body .xnotification-container {
  right: 0 !important;
  left: auto !important;
  width: 250px;
}
#body .xnotification {
  background: $theme.pageContentBackgroundColor none 2px .7em no-repeat !important;
  border: 2px solid $theme.borderColor;
  box-shadow: 0 0 6px #AAA, 0 0 25px #DDD inset;
  color: $theme.textColor !important;
  display: block;
  font-weight: normal;
  margin: 2px;
  padding: 0.5em 22px;
  text-align: left;
  width: 200px;
}
#body .xnotification-inprogress {
  background-image: url("$xwiki.getSkinFile('icons/xwiki/spinner.gif')") !important;
}
#body .xnotification-error {
  background-image: url("$xwiki.getSkinFile('icons/silk/delete.png')") !important;
  color: $theme.notificationErrorColor !important;
  border-color: $theme.notificationErrorColor !important;
}
#body .xnotification-warning {
  background-image: url("$xwiki.getSkinFile('icons/silk/error.png')") !important;
  color: $theme.notificationWarningColor !important;
  border-color: $theme.notificationWarningColor !important;
}
#body .xnotification-info {
  background-image: url("$xwiki.getSkinFile('icons/silk/information.png')") !important;
  color: $theme.notificationInfoColor !important;
  border-color: $theme.notificationInfoColor !important;
}
#body .xnotification-done {
  background-image: url("$xwiki.getSkinFile('icons/silk/tick.png')") !important;
  color: $theme.notificationSuccessColor !important;
  border-color: $theme.notificationSuccessColor !important;
}

input[type="checkbox"] {
  outline: 0 none !important;
  box-shadow: none !important;
  -moz-transform: scale(.85) !important;
}
input[type="radio"] {
  -moz-transform: scale(.85) !important;
}

/* =========================================
 * MENU
 */
.editor-menu {
  background: #444;
  padding: 5px;
}
.editor-menu .action-group {
  display: inline-block;
}
.editor-menu span {
  font-family: Arial,Verdana,sans-serif;
}
.editor-menu .action-group:not(:last-of-type) {
  border-right: 1px solid #777;
  margin-right: 1em;
  padding-right: 1em;
}
.editor-menu .menu-item {
  border-radius: 4px;
  color: #fff;
  padding: .35em;
  margin: 0 .7em 0 0;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
}
.editor-menu .menu-item:last-of-type {
  margin: 0;
}
.editor-menu .disabled-menu-item {
  color: #777;
  padding: .35em;
  margin: 0 .7em 0 0;
  cursor: default;
  display: inline-block;
  white-space: nowrap;
  pointer-events: none;
}
.editor-menu .disabled-menu-item:last-of-type {
  margin: 0;
}
.loading-indicator {
  background-image: url("$xwiki.getSkinFile('icons/xwiki/ajax-loader-large.gif')");
  background-position: center;
  background-repeat: no-repeat;
  height: 80px;
}
.busy-progressbar-container {
  width: 100%;
}
.busy-indicator-text {
  margin-top: 2em;
}
.editor-menu .menu-item:hover {
  box-shadow: #fff 0 0 5px 0;
}


/* =========================================
 * CONTROLS
 */
.view-controls {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 4px;
  opacity: .8;
  z-index: 50000;
}
.view-controls:hover {
  ##opacity: 1;
}
.cursor-move {
  cursor: move;
}
/* ----------------------------------------
 * Pan
 */
.view-controls-pan {
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
  position: absolute;
  border: 1px solid #aaa;
  background: #FFF;
  border-radius: 30px;
  box-shadow: 0 0 6px #AAAAAA;
}
.view-controls-pan * {
  width: 16px;
  height: 16px;
  position: absolute;
  cursor: pointer;
  line-height: 16px;
}
.view-control-pan:hover, .view-controls-zoom .zoom-button:hover {
  color: $theme.linkColor;
}
.view-controls-pan .pan-up {
  top: 4px;
  left: 22px;
}
.view-controls-pan .pan-right {
  top: 22px;
  right: 4px;
}
.view-controls-pan .pan-down {
  bottom: 4px;
  left: 22px;
}
.view-controls-pan .pan-left {
  top: 22px;
  left: 4px;
}
.view-controls-pan .pan-home {
  top: 22px;
  left: 22px;
  font-size: 12px;
}
/* ----------------------------------------
 * Zoom
 */
.view-controls-zoom {
  left: 18px;
  top: 70px;
  position: absolute;
  text-align: center;
}
.view-controls-zoom * {
  background: #FFF;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 0 6px #AAAAAA;
  margin: auto;
}
.view-controls-zoom .zoom-track {
  width: 4px;
  height: 200px;
  position: relative;
  cursor: pointer;
}
.view-controls-zoom .zoom-button {
  cursor: pointer;
  line-height: 20px;
  width: 20px;
  height: 20px;
  padding: 2px 2px;
}
.view-controls-zoom .zoom-handle {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 10px;
  margin-left: -9px;
}
.view-controls-zoom .zoom-crt-value {
  background: transparent;
  border: 0 none;
  box-shadow: none;
}
/* =========================================
 * CANVAS
 */
#canvas {
  overflow: hidden;

  /* fallback */
  background-color: #F8F8F8;
  background-position: center center;
  background-repeat: no-repeat;

  background: radial-gradient(circle, #FBFBFB, #DFDFDF);
}
/* ===========================================
 * LEGEND
 */
#work-area {
  position: relative;
}
.legend-info {
  font-size: .8em;
  padding-top: 14px;
  padding-bottom: 5px;
  margin-bottom: -9px;
}
.legend-hidden {
  display:none !important;
}
.legend-minimized-title {
  float: left;
  padding-top: 3px;
  padding-left: 10px;
  font-size: 1.1em;
}
.legend-warning {
  padding: 6px 10px 6px 30px;
  color: #B08020;
}

.all-legend-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10000;
  max-width: 80%;
}
.abnormalities-legend span {
  font-family: Arial,Verdana,sans-serif;
}
.abnormalities-legend {
  margin-bottom: 10px;
}
.generic-legend {
  min-width: 245px;
  max-width: 270px;
  width: 100%;
  background: #FFF;
}
.patient-assign-legend {
  float: right;
}
.legend-box {
  background: #FFF;
  border-radius: 0 0 0 4px;
  padding: .5em .5em .5em 1em;
}
.legend-box-controls-open {
  background: #F4F4F4;
  height: 20px;
  border-bottom: 1px solid;
  border-color: #ccc;
}
.legend-box-controls-closed {
  background: #FFF;
  height: 25px;
  cursor: pointer;
}
.legend-box-button-right {
  float: right;
  margin-top: 3px;
  margin-right: 3px;
  cursor: pointer;
}
.legend-box-button-left {
  float: left;
  margin-top: 3px;
  margin-left: 8px;
  cursor: pointer;
}
.legend-box-button:hover {
  font-weight: bold;
}
.legend-hide-show-checkbox {
  cursor: pointer;
  float: right;
  margin-bottom: 2px;
  margin-top: 2px;
}
.legend-box .legend-title {
  font-size: 1.1em;
  margin: 0 0 0.3em;
  cursor: default;
}
.abnormality {
  cursor: pointer;
  padding-left: 1px;
}
li.abnormality:hover, div.abnormality:hover {
  background-color: #FBF5EA;
}
.abnormality.highlighted {
  background-color: #FBF5EA;
}
.legend-box .abnormality-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.legend-box .close-button {
  cursor: pointer;
  float: right;
  font-size: 13px;
  font-weight: bold;
  margin: 0.4em .3em 0 -1em;
}
.button-disabled {
  color: #CCC !important;
  cursor: default !important;
}
.legend-box .infomessage {
  padding-right: 24px;
}
.abnormality-color {
  display: inline-block;
  width: .9em;
  height: .9em;
  margin: 0 .5em .2em 0;
  border-radius: .6em;
  background-color: #DDD;
  vertical-align: middle;
}
.abnormality-legend-icon {
  font-size: 16px;
  margin-right: 7px;
  vertical-align: middle;
}
.abnormality-disorder-name {
  font-size: 13px;
}
.abnormality-cases-container {
  font-size: .8em;
  font-style: italic;
  color: #777;
}
/* ===========================================
 * NODE MENU
 */
.menu-box {
  position: absolute;
  /*width: 27em;*/
  color: #000000;
  z-index: 100000;
}
.invalidValueScreen {
  background: #000;
  width: 100%;
  height: 120%;
  position: absolute;
  top: -50px;
  left: 0px;
  opacity: 0.5;
  z-index: 99999; /* one below z-index of .menu-box */
}
.menu-box .tab-message-container {
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #000;
}
.error-message-container {
  border-color: #900 !important;
  background-color: #fee !important;
}
.info-message-container {
  background-color: #eed;
}
.menu-box select {
  padding: 0.15em 0 0.15em 0;
}
/* fix weird default styling for radiobuttons in Chrome on Windows */
.menu-box input[type="radio"] {
  outline-style: none;
}
.calendar_date_select {
  z-index: 100000 !important;
}
.width80px {
  width: 80px;
}
.min-width80px {
  min-width: 80px;
}
.relationship-menu {
  width: 290px !important;
}
.msdialog-box.multitab-selector-main {
  min-width: 760px !important;
}
.ok-cancel-body {
  padding: 0 1em 0 1em;
}
.margin-bottom-10px {
  margin-bottom: 10px;
}
.menu-box .tabs, .multitab-selector-tabs {
  margin-bottom: -4px;
  display: inline-block;
}
.multitab-selector-tabs {
  width: 100%;
}
.menu-box .tabs dd, .tabs .tab-title, .multitab-selector-tabs dd {
  position: relative;
  float: left;
  margin-right: 2px;
}
.menu-box .tabs dd.active, .multitab-selector-tabs dd.active {
  background-color: #FDFEFF;
  border: 1px solid #e0e0e0;
  border-bottom-width: 0px;
}
.menu-box .tabs dd:not(.active), .multitab-selector-tabs dd:not(.active){
  background-color: #D9D9D9;
  padding: 1px;
  padding-bottom: 0px;
}
.menu-box .tabs dd a, .multitab-selector-tabs dd a  {
  text-decoration: none;
}
.menu-box .tabs dd.active a, .tabs .tab-title.active a, .multitab-selector-tabs dd.active a {
  color: #222222;
  pointer-events: none;
}
.menu-box .tabs dd:not(.active):hover, .tabs .tab-title:hover, .multitab-selector-tabs dd:not(.active):hover {
  background-color: #CFCFCF;
  cursor:pointer;
}
.menu-box .tabs dd > a, .tabs .tab-title > a, .multitab-selector-tabs dd > a {
  display: block;
  color: #222222;
  padding: 0.6em 1.77778em;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-size: 0.9rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu-box .tabs-content > .content, .multitab-selector-modal .tab-content {
  display: none;
  padding: 0;
}
.menu-box .tabs-content > .content.active {
  display: block;
  padding: .3em 1.2em 0.8em;
  min-height: 5em;
}
.multitab-selector-modal .tab-content.active {
  display: block;
}
.menu-box form {
  border: 1px solid #e0e0e0;
  background: #FDFEFF;
}
.menu-box form:not(.content){
  padding: 0 0 0 0;
}
.menu-box form.content {
  padding: .3em 1.3em 0.8em !important;
}
.menu-box .close-button {
  cursor: pointer;
  float: right;
  font-size: 16px;
  font-weight: bold;
  height: 12px;
  line-height: 11px;
  margin: 2.6em .3em 0 -1em;
  text-align: center;
  width: 12px;
}
.menu-box .close-button:hover {
  text-shadow: 0.5px 0.5px #CCCCCC;
  background-color: #dddddd;
}
.menu-box .close-button-old {
  margin: 0.3em .3em 0 .3em !important;
}
.menu-box .field-box {
  padding: .5em 0;
}
.menu-box .field-box input[type=text] {
  width: 100%;
}
.menu-box .field-box input[type=text]:focus {
  border: 1px solid #DDD;
}
.menu-box .field-box textarea {
  width: 100%;
  resize: vertical;
  border: 1px solid #E8E8E8;
}
/* 3.3em height is set because firefox does not respect the rows qualifier for the textarea,
   displaying one more line than most other browsers. Less than 3.3em and there is no scrollbar in FF */
.menu-box .field-box .textarea-2-rows {
  height: 3.3em;
}
.menu-box .field-box .textarea-3-rows {
  height: 4.3em;
}
.menu-box .field-box .textarea-4-rows {
  height: 5.5em;
}
.menu-box .field-box .textarea-20-rows {
  height: 28em;
}

.print-preview-selector {
  display: inline-block;
}
.import-selector {
  display: inline-block;
  padding: 15px !important;
  padding-bottom: 5px !important;
  background-color: #FDFEFF;
}
.import-upload {
  display: block;
  margin: 0.2em 0 0.75em 7.5em;
  text-align: left;
}
.import-warning-nofileupload {
  margin-left: 100px;
}
/*
.import-selector {
  overflow: auto;
}*/
.import-selector .import-textarea {
  height: 10em;
  resize: none;
  /*border: 1px solid #E8E8E8;*/
  margin: .5em .2em 0 ;
  display: block;
}
.import-block {
  margin: 0.75em 0 0.5em 0;
  display: block;
}
.import-file-button {
  margin-top: 4px !important;
}
.import-file-button-wrapper {
  position: relative;
  margin-left: -350px;
}
.import-block-bottom {
  margin: 1.2em 0 0.5em 0;
}
.import-section {
  font-weight: bold;
  float: left;
}
.import-file-section {
  margin-top: 5px;
  float: left;
  font-weight: bold;
}
.import-type-label {
  float: left;
  margin: 0 1em 0 0.8em;
}
.import-config-label {
  float: left;
  margin: 0 1em 0 2.5em;
}
.import-section.export-format, .import-section.export-options {
  width: 4.5em;
}
.export-selector {
  margin: 1em 1em 1em 2em;
}
.export-config-header {
  float: left;
  margin: 0 1em 0 2.95em;
}
.export-image-options {
  margin-top: 0.8em;
  margin-left: 4.5em;
}
.export-subconfig-label {
  float: left;
  margin: 0 1em 0 0.8em;
  text-align: left;
}
.export-subconfig-label.ped-option {
  font-style: italic;
}
.ped-special-options .export-config-header {
  margin-top: 0.5em;
  margin-left: 1em;
  text-transform: capitalize;
}
.ped-special-options .export-config-header.ped-header{
  margin: 0.7em 1em 0 2.95em;
  text-transform: none;
}
.ped-special-options .export-subconfig-label {
  margin-left: 2em;
}
.import-mark-label1 {
  float: left;
  margin: 0.25em 1em 0 2.5em;
}
.import-mark-label2 {
  float: left;
  margin: 0 1em 0 2.5em;
}
.menu-box .field-box textarea:focus {
  border: 1px solid #DDD;
}
.menu-box .field-name {
  display: block;
  font-weight: bold;
}
.menu-box .field-checkbox {
  cursor: pointer;
  display: inline-block;
  padding-right: 1.5em;
}
.menu-box .accepted-suggestions li {
  line-height: 1em;
  padding: .2em 1em .1em 0;
  font-size: 85%
}
.menu-box .accepted-suggestions li:hover {
  background-color: #FFEE99;
}
.menu-box .field-box .accepted-suggestions li .delete-tool {
  position: absolute;
  top: .4em;
  right: 0;
  display: inline;
}
.field-no-user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.field-values label {
  display: block;
}
.field-values {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
.field-values-3-columns {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}
.field-values-3-columns label {
  display: block;
}
.field-adopted .field-values-3-columns {
 display: table-row;
}
.field-adopted .field-values-3-columns label {
 display: table-cell;
}
.field-values-3-columns .state_deceased {
}
.field-values-3-columns .state_miscarriage {
  margin-bottom: 1px;  /* otherwise the bottom pixel of the letter "g" in "miscarriage" is displayed at the top of the next column in Chrome */
}
.field-values-3-columns .state_unborn {
}
.field-values-3-columns .state_aborted {
}
.field-inputs {
  display: table;
  width: 100%;
  padding-top: 0.2em;
}
.field-inputs>span {
  display: table-cell;
}
.field-inputs label {
  font-family: Arial,Verdana,sans-serif;
}
.menu-box .field-submit {
  text-align: center;
}
.menu-box .field-submit .field-inputs {
  padding-top: 1em;
}
.menu-box .field-cancers {
  margin-bottom: 5px;
  padding-top: 0.8em;
}
.menu-box .field-gender {
  padding-top: 0.8em;
}
.menu-box .field-phenotipsid {
  padding: .8em 0;
}
.menu-box .field-first_name {
  width: 47%;
  float: left;
}
.menu-box .field-last_name {
  width: 48%;
  float: right;
}
.menu-box .field-deceasedAge {
  width: 47%;
  float: left;
}
.menu-box .field-deceasedCause {
  width: 48%;
  float: right;
}
.menu-box .field-deceasedAge {
  padding-top: 0;
  padding-bottom: 0.8em;
}
.menu-box .field-deceasedCause {
  padding-top: 0;
  padding-bottom: 0.8em;
}
.menu-box .field-deceasedAge .field-name {
  font-weight: normal;
}
.menu-box .field-deceasedCause .field-name {
  font-weight: normal;
}
.menu-box .field-last_name_birth {
  width: 47%;
  float: left;
  padding: .5em 0 0.9em;
}
.menu-box .field-external_id {
  width: 48%;
  float: right;
  padding: .5em 0 0.9em;
}
.text-field-input-error, .date-field-input-error {
  display: block !important;
  font-size: .8em;
  line-height: 1.8em;
  color: #CC3333;
  margin: 0 0 0 0;
}
.menu-box .field-date_of_birth {
  width: 49%;
  float: left;
  margin-bottom: 1px;
}
.menu-box .field-date_of_death {
  width: 48%;
  float: right;
  margin-top: -5px; /* TODO: investigate why elements float below its intended position */
  margin-bottom: 1px;
}
.menu-box .field-state {
  clear: both;
}
.menu-box .accepted-suggestions {
  margin: 0px 0px 0.3em !important;
}
.menu-box .field-childlessText {
  padding: 0 0;
}
.menu-box .field-adopted {
  padding: 0.6em 0;
}
.menu-box .field-monozygotic {
  padding: 0.5em 0 0.26em 0;
}
.menu-box .field-nocontact {
  padding: 0.26em 0;
}
.menu-box .field-placeholder {
  padding: 0.26em 0;
}
.menu-box .field-gestation_age {
  padding: 0.45em 0;
}
.menu-box .field-evaluated {
  padding-top: 0.26em;
  padding-bottom: 0.5em;
  padding-right: 0;
  margin-left: -0.1em;
}
.menu-box .field-evaluated .field-name {
  font-weight: normal;
}
.menu-box .field-aliveandwell{
  padding-top: 0;
}
.menu-box .field-aliveandwell .field-name {
  font-weight: normal;
  cursor: pointer;
}
.menu-box .field-carrier {
  padding-top: 0.8em;
  padding-bottom: 0.6em;
  padding-right: 0;
  padding-left: 0;
}
.menu-box .field-hpo_positive {
  padding: 1em 0;
}
/* Disable the "browse ontology" button, as ontology browser events are not supported (yet) */
.xHelpButton.phenotype-info + .xTooltip .term-tools {
  display: none;
}
.menu-box .field-disorders {
  padding: 0.6em 0;
}
.menu-box .field-candidate_genes {
  padding: 0.6em 0;
}
.menu-box .field-identifier {
  padding: 0 0;
}
.menu-box .field-childlessSelect {
  padding: 0.5em 0 0.5em;
}
.menu-box .patient-link-container {
  margin-top: 4px;
}
.menu-box a.patient-link-url {
}
.menu-box .suggest-patients {
  width: 61% !important;
}

.menu-box .patient-link-remove:hover {
  background: #E6CE85 !important;
}
.menu-box .patient-create-button {
  margin-top: 0 !important;
  font-size: 14px !important;  /* make sure button size is the same and does not grow with different font sizes and break the layout */
}
.menu-box .patient-create-button:hover {
  background: #B1C2E2;
}
.menu-box .patient-generic-button {
  float: none !important;
  font-weight: initial;
}
.menu-box .unintrusive-button {
  background: #e0e0e0;
}
.menu-box .menu-fullWidthbutton {
  display: block !important;
  text-align: center;
}
.family-study .add-to-family-wrapper div {
  float: left;
}
.family-study .add-to-family-wrapper .section {
  margin-top: 0.2em;
  font-weight: bold;
}
.family-study .add-to-family-wrapper .buttonwrapper {
  margin-top: 0;
  margin-right: 0;
}
.family-study .add-to-family-wrapper div.remove {
  margin-left: 10px;
}
.family-selector ul {
  list-style-type: none;
  margin-bottom: 10px;
  margin-left: 5px;
}
.family-selector ul li.left-aligned {
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: left;
  margin-bottom: 5px;
}
.family-selector div.half-width {
  width: 50%;
  margin-left: 15px;
}

.menu-box .disabled-select {
  opacity: 0.5;
  color: black;
}
.hidden {
  display: none !important;
}

.menu-box .patient-menu-button {
  margin-right: 5px;
  margin-top: -3px;
  border-radius: 2px;
  box-shadow: 0px 1px 1px #999;
  background: #D5D5D5;
  padding: 3px 9px 3px 9px;
  cursor: pointer;
  display: inline-block;
}
.menu-box .patient-menu-button:hover {
  background: #B1C2E2;
}
.menu-box .patient-create-button {
  float: right;
}
.menu-box .patient-link-remove {
  float: right;
}

/* ===========================================
 * NODE TYPE OPTIONS
 */
.callout {
  position: absolute;
  width: auto;
  padding: 3px 0;
  border: 1px solid #F5F5F5;
  border-radius: 4px;
  background: #EEE;
  text-align: center;
  white-space: nowrap !important;
  box-shadow: 0 0 6px #8f8f8f, 0 0 25px #DDDDDD inset;
}
.callout .callout-handle {
  position: absolute;
  top: -8px;
  border: 10px solid #e5e5e5;
  border-top-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  display: block;
  width: 0;
  z-index: 10;
  margin-left: -10px;
}
.callout.upside .callout-handle {
  border-top-width: 10px;
  border-bottom-width: 0;
  top: auto;
  bottom: -8px;
}
.pedigree-nodePatientTextLink {
  cursor: pointer;
  fill: #00498A;   /* for link on the canvas */
  color: #00498A;  /* for link in the legend */
}
.pedigree-nodePatientTextLink:hover {
  text-decoration: underline;
}
.node-type-options {
  position: relative;
}
.node-type-options .separator {
  display: inline-block;
  width: 0;
  margin: 0 8px;
  overflow: hidden;
}
.node-type-options .node-type-option {
  background: transparent none center center no-repeat;
  border: 1px solid #F5F5F5;
  border-radius: 4px;
  display: inline-block;
  margin: 3px;
  height: 24px;
  width: 24px;
  box-shadow: 0 0 9px #DDDDDD inset;
  color: black !important;
  vertical-align: middle;
  text-decoration: none !important;
 /*
  TODO: Keep this:
  overflow: hidden;
  text-indent: 48px;
  line-height: 48px;
  font-size: 1px;
  TODO: remove this
  */
  text-align: center;
  line-height: 24px;
}
.person-type-option.square {
  line-height: 28px;
  margin-bottom: 5px;
}
.person-type-option.square span, .drop-patient span.square {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid black;
}
.node-type-options .person-type-option.diamond {
  line-height: 26px;
}
.node-type-options .person-type-option.diamond span, .drop-patient span.diamond {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.node-type-options .person-type-option.circle {
  line-height: 29px;
}
.node-type-options .person-type-option.circle span, .drop-patient span.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid black;
}
.node-type-options .person-type-option.text-in-middle {
  position: relative;
}
.node-type-options .person-type-option.text-in-middle strong {
  font-weight: bold;
  font-size: 8px;
  position: absolute;
  top: 8px;
  left: 10px;
}
.expand-arrow {
  cursor: pointer;
  font-size: 15px;
  margin-left: -1px;
  margin-right: 2px;
}
.expand-arrow:hover {
  color: #6666CC;
}
.node-type-options .expandable-node-type-option {
    background: transparent none center center no-repeat;
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    display: inline-block;
    margin: 3px;
    height: 24px;
    width: 24px;
    box-shadow: 0 0 9px #DDDDDD inset;
    color: black !important;
    vertical-align: middle;
    text-decoration: none !important;
    /*
    TODO: Keep this:
    overflow: hidden;
    text-indent: 48px;
    line-height: 48px;
    font-size: 1px;
    TODO: remove this
    */
    text-align: center;
    line-height: 24px;
}
.node-type-options-extended * {
    vertical-align: middle;
}

.value-control-button {
  border: 1px solid #FFF;
  border-radius: 3px;
  box-shadow: 0 0 5px #DDD inset;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
  height: 1em;
  line-height: 1em;
  margin: 3px;
  padding: 3px;
  text-align: center;
  width: 1em;
}
.minus-button {
  color: #C00;
}
.plus-button {
  color: #080;
}

.cursor-normal {
  cursor: default;
}

.msdialog-modal-container .pedigree-print-dialog {
  width: 760px !important;
  max-width: 760px !important;
}
.print-preview-header {
  text-align: left;
  margin-bottom: 2pt;
  line-height: 15pt;
}
.print-preview-footer {
  margin-top: 1px;
  margin-bottom: 13px;
  margin-left: 10px;
  margin-right: 25px;
  display: block !important;
  color: #733;
}
.print-preview-footer-text {
  color: black;
  margin-left: 7px;
}
.print-settings-block {
  margin: 0.25em 0 0.5em 0;
  display: block;
}
.print-move-span {
  margin-left: 70px;
}
.print-zoom-value {
  display: inline-block;
  width: 45px;
  height: 25px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
}
.print-small-button {
  width:26px;
  height:28px;
  cursor: pointer;
}
.print-long-button {
  height:28px;
  cursor: pointer;
}
.print-orientation-span {
  margin-left: 70px;
}
.print-left-margin {
  margin-left: 10px;
}
.print-small-left-margin {
  margin-left: 5px;
}
.picture-box {
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 2px;
  margin: 14px;
}
.picture-box:hover {
  cursor: pointer;
  box-shadow: rgba(0, 10, 0, 0.5) 0 0 5px 4px;
}
.preview-container {
  border: 1px;
  border-style: solid;
  border-color: #ccc;
  display: inline-block;
}
.template-outer-container {
  background-color: #FDFEFF;
  padding: 10px !important;
}
.template-picture-container {
  display: inline-block;
  margin: 3px;
  overflow-y: auto;
}

.msdialog-box {
  /*overflow:auto;*/
  width: 60% !important;
  min-width: 650px !important;
  max-width: 720px !important;
}
.msdialog-box .content {
  text-align: center;
}
.study-selection-dialog .xform {
  text-align: left;
}
.xform .xHint {
  color: #336699;
  padding-left: 1.7em;
}
.pedigree-okcancel {
  width: 680px !important;
}
.no-mouse-interaction {
  pointer-events: none;
}
/* Make sure the tooltips fit nicely in the suggest box in the pedigree editor: */
.suggestItem .xTooltip {
  left: 4px;
  margin: 1.4em 0 0;
}
#cancers_data_table, table.summary-group {
  width: 100%;
}
.cancer_field td {
  padding-top: .2em;
}
table.summary-group td.add-button-holder span.patient-details-add {
  float: left;
  margin-left: 2em;
  margin-top: .2em;
  font-size: 87.5%;
}
table.summary-group span.action-done,
table.summary-group span.action-edit {
  float: right;
}
table.summary-group div.summary-item {
  background-image: none;
  background-color: #F9F9F9;
  background-position: left center;
  background-repeat: no-repeat;
  border-radius: 0 .5em .5em .5em;
  border: 1px solid #FFF;
  font-size: 87.5%;
  padding: .5em 10px;
  margin: 0 0 0 2em;
  position: relative;
}
table.summary-group div.summary-item.blurred {
  cursor: pointer;
}
div.summary-item div.clearfloats {
  margin: 0;
}
table.summary-group div.summary-item span.cancers-dialog-delete,
table.summary-group tr.term-holder span.patient-term-delete {
  color: $theme.notificationErrorColor;
}
table.summary-group tr.term-holder span.term-data span.xHelpButton {
  margin-left: .5em;
}

table.summary-group div.summary-item.blurred dl {
  display: inline-block;
  margin: .2em;
  vertical-align: middle;
}
table.summary-group div.summary-item.blurred dt {
  margin: 0 0 0 .5em;
  border-bottom-left-radius: .3em;
  border-top-left-radius: .3em;
}
table.summary-group div.summary-item.blurred dl:first-child {
  margin-left: 0;
}
table.summary-group div.summary-item.blurred dd {
  margin: 0;
  border-bottom-right-radius: .3em;
  border-top-right-radius: .3em;
}
table.summary-group div.summary-item.blurred dt.hidden + dd + dd.preview {
  margin: 0;
  border-bottom-left-radius: .3em;
  border-top-left-radius: .3em;
}
table.summary-group div.summary-item.blurred dt,
table.summary-group div.summary-item.blurred dd {
  display: inline-block;
  background-color: $theme.pageContentBackgroundColor;
  float: left;
  padding: .3em;
  clear: none;
}
table.summary-group div.summary-item dt,
table.summary-group div.summary-item dd {
  margin-top: .4em;
  margin-bottom: .4em;
}
table.summary-group div.summary-item dt {
  float: left;
  clear: left;
}
table.summary-group div.summary-item.focused dt:not(.inline) {
  width: 100%;
}
table.summary-group div.summary-item.focused dt.collapsible span.selected-value {
  font-weight: normal;
  margin-left: .5em;
}
table.summary-group div.summary-item.focused dt.collapsible span.collapse-button {
  margin-right: .5em;
}
table.summary-group div.summary-item.focused dd.comments textarea {
  min-height: 50px;
}
table.summary-group div.summary-item.focused dd.inline select {
  padding: 0;
  margin-left: .5em;
}
table.summary-group div.summary-item ul {
  list-style-type: none;
  padding-left: 1em;
  margin-left: 0;
}
.cancer-header td {
  padding-top: 0.65em;
}
.cancer-header {
  color: #888;
}
.cancer_field .clickable:hover {
  cursor: pointer;
}
.cancer_field label.clickable.disabled {
  color: #CCC;
  cursor: default;
}

/* Cancer picker */
div.field-box.field-cancers_picker {
  padding: 0 0 .4em 0;
}

/* Option types */
.node-type-options .node-type-m.text-in-middle strong {
  font-size: 10px;
  left: 10px;
  top: 5px;
}

/* Datepicker style */
.fuzzy-date-picker {
  margin-right: -2px;
}
.fuzzy-date-picker select {
  font-family: Arial,Verdana,sans-serif;
}
.fuzzy-date-picker .year {
  font-size: 14px;
  max-width: 68px;
}
.fuzzy-date-picker .month {
  font-size: 14px;
  max-width: 48px;
}
.fuzzy-date-picker .day {
  font-size: 14px;
  max-width: 48px;
}
.fuzzy-date-picker .empty {
  font-size: .7em;
  opacity: .5;
}
.fuzzy-date-picker .year option {
  /*text-indent: 1em;*/
}
.fuzzy-date-picker .year .decade {
  font-weight: bold;
  /*text-indent: 0;*/
}
.fuzzy-date-picker .year .century {
  font-weight: bold;
  /*text-indent: 0;*/
}
.fuzzy-date-picker .year:disabled {
  opacity: .5 !important;
}
.fuzzy-date-picker .month:disabled {
  opacity: .5 !important;
}
.fuzzy-date-picker .day:disabled {
  opacity: .5 !important;
}

.patient-list {
  margin: 10px 0 0 2px;
}
.drop-patient span:first-child {
  border-color: #636B75;
  background-color: #99aadd;
  margin-right: 3px;
  vertical-align: top;
  margin-top: 6px;
}
.patient-list .drop-patient {
  display : inline-block;
  margin-right: 6px;
}
.drop-patient .patient-legend-details {
  color: #999999;
}
.patient-legend-details-label {
  float: left;
}
.drop-patient .patient-legend-details-label-margin {
  margin-right: 5px;
}
.drop-patient .min-column-width-45 {
  width: 45px;
  margin-right: 0px !important;
}
.drop-patient .patient-legend-patient {
  margin-left: 4px;
  padding-left: 0px;
  padding-right: 3px;
  padding-bottom: 2px;
  padding-top: 1px;
  display: inline-block;
}
.legend-patient-link {
  width: 0%;
}
.legend-patient-button {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.legend-edit-patient-button {
  margin-top: 7px;
  font-size: 90%;
}
.legend-remove-patient-button {
  margin-top: 6px;
  margin-left: 6px;
  font-size: 85%;
  margin-right: 2px;
  float: right; /* to be removed after edit button is enabled */
}
.legend-remove-patient-button:hover {
  color: #A33;
}
.patient-record-add-section {
  margin-top: 5px;
  padding-bottom: 5px;
}
.add-family-member-button, .create-family-member-button {
  border-radius: 2px;
  padding: 3px 9px 3px 9px;
  cursor: pointer;
  box-shadow: 0px 1px 1px #999;
  background: #D5D5D5;
  font-size: 14px;
  border: 0px;
  margin-left: 5px;
}
.add-family-member-button {
  box-shadow: 0px 1px 1px #CCC;
  background: #F5F5F5;
}
.add-family-member-button:hover, .create-family-member-button:hover {
  background: #B1C2E2;
}
.pedigree-create-patient {
}
.add-link-to-existing-patient .suggest-patients {
  width: 30%;
  margin-right: 5px;
}
.no-word-wrap {
  white-space: nowrap;
}
.abnormality.drop-patient {
  cursor: move;
  margin-bottom: 5px;
  padding-left: 2px;
  width: 85%;
}
.at-age-input, .cause-input {
    margin-top: 3px;
    width: 120px !important;
    padding: 0;
}
.deceased-node-type-options {
    width: 125px;
    border: 1px solid #e0e0e0;
}
.deceased .callout-handle {
  margin-left: 0px;
}
#scrollable-container {
  overflow: auto;
  margin-left: 3em;
  margin-top: 0.5em;
  background-color: #fdfeff;
  padding-bottom: 0.5em;
}
.option-info-button {
  color: #666;
  margin-left: -10px;
}
.option-info-button:hover {
  color: #000;
}
.export-menu-tooltip {
  text-align: left;
  width: 60%;
}