h1, h1.header {
    border-color: #09f;
}
input[type=text]:focus {
  border-color: #369;
  -moz-box-shadow: 0 0 4px #ccc;
  box-shadow: 0 0 4px #ccc;
}
.emphasize,
a, a:link, a:visited, a:link:visited {
    color: #369;
}
input[type="submit"], input[type="button"], button {
    background-color: #369;
}
  border-color: #369;
}

.suggestItems .suggestValue {
  color: #369;
}
label.selected {
  background-color: #cedeee;
  border-color: #369;
}
