body {
  background-color: #FFF;
  color: #333;
  font-family: Verdana, Arial, sans-serif;
  font-size: 87%;
  margin: 0;
  padding: 8px 20px;
}

h1 {
  color: #999;
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  text-shadow: 0px 0px 6px #e5e5e5;
  padding: 0.2em 0;
  margin: 0.2em 0 0.8em;
  border-bottom: 2px solid #000;
}

h1.header {
  border-bottom-color: #e82;
  background-color: #333;
  color: #ccc;
  padding: 8px 20px;
  margin: -8px -20px .8em;
  text-shadow: 0 0 6px #fff;
}

.emphasize {
  color: #000;
  border-bottom: 0 none;
}
h1.header .emphasize {
  color: #FFF;
}
a, a:link, a:visited, a:link:visited {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
a:hover, a:link:hover, a:visited:hover {
  background-color: #FFB;
}
h1 a, h1 a:link, h1 a:visited, h1 a:link:visited {
  color: inherit;
  font-weight: inherit;
  background-color: transparent !important;
}
.invisible {
  display: none !important;
}
.twothird-width {
  width: 67%;
}
.half-width {
  width: 48.5%;
  margin-right: 1%;
  float: left;
}
.third-width {
  width: 32%;
  float: left;
  margin-right: 1%;
}
.col-3 {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}
.param-name {
  color: #777;
  font-style: italic;
  font-size: 120%;
}
.clinical-info {
  margin-top: 3em;
}
.patient-info fieldset {
  backgroud: transparent !important;
  background-image: none !important;
  border: 0 none !important;
  margin: 0 !important;
}
.subsection {
  margin-left: 1em;
}
.clear {
  float: none;
  clear: both;
}
label.section {
  display: block;
  clear: both;
  margin: .3em 0;
}
form dt {
  clear: both;
}
form dd {
  margin: 0;
}
fieldset {
  border: 0 none;
  padding: 0;
  margin: .5em 0;
  float: none;
  clear: both;
}
fieldset fieldset {
  background-image: linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 64%);
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 64%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 64%);
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 64%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F7F7F7 64%);
  background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #FFF),
	color-stop(0.64, #F7F7F7))
  );
  padding: 0 12px;
  margin: 1.5em 0.5em .5em 0;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
}
fieldset fieldset.group-other {
  background-image: linear-gradient(bottom, #FFFFFF 0%, #FFB 64%);
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #FFB 64%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #FFB 64%);
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FFB 64%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #FFB 64%);
  background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #FFF),
	color-stop(0.64, #FFB))
  );
  border-color: #777;
}
legend {
  color: #000;
  font-weight: bold;
  font-size: 140%;
  padding: 0;
  margin: .5em 0 0.2em;
}
fieldset fieldset legend {
  font-size: 120%;
  background-color: #F7F7F7;
  margin: 0 -13px;
  padding: 4px 12px 0;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-right: .3px solid #333;
}
fieldset fieldset.group-other legend {
  background-color: #FFB;
  border-color: #777;
}
label {
  font-weight: normal;
  color: #000;
}
.hint {
  color: #777;
  font-size: 70%;
  padding: 0;
  margin: 0;
}
input[type=text] {
  width: 100%;
  border: 1px solid #ddd;
}
input[type=text]:focus {
  border-color: #e82;
}
input[type=submit],
input[type=button],
button {
  background-color: #000;
  color: #fff;
  border: 1px solid #777;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 0 6px #ddd;
}
.suggestItems .suggestValue {
  color: #000;
}
label.selected {
  color: #000;
  background-color: #FFB;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  border-left: 4px solid #333;
  margin-left: -4px;
}
