body {
  background-color: #FFF;
  color: #333;
  font-family: Arial, Verdana, sans-serif;
  font-size: 87%;
  margin: 0;
  padding: 8px 10%;
}

h1 {
  color: #999;
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
  text-shadow: 0px 0px 6px #e5e5e5;
  padding: 0.2em 0;
  margin: 0.2em 0 0.8em;
  border-bottom: 2px solid #000;
}

h1.header {
  border-bottom-color: #e82;
  background-color: #333;
  color: #ccc;
  padding: 8px 20px;
  margin: -8px -12.5% .8em;
  text-shadow: 0 0 6px #fff;
}

.emphasize {
  color: #000;
  border-bottom: 0 none;
}
h1.header .emphasize {
  color: #FFF;
}
a, a:link, a:visited, a:link:visited {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
a:hover, a:link:hover, a:visited:hover {
  background-color: #FFB;
}
h1 a, h1 a:link, h1 a:visited, h1 a:link:visited {
  color: inherit;
  font-weight: inherit;
  background-color: transparent !important;
}
.invisible {
  display: none !important;
}
.twothird-width {
  width: 67%;
}
.half-width {
  width: 48.5%;
  margin-right: 1%;
  float: left;
}
.third-width {
  width: 32%;
  float: left;
  margin-right: 1%;
}
.col-2 {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
.col-3 {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}
.param-name {
  color: #000;
  font-size: 110%;
  margin: .8em 0 0;
}
.clinical-info {
  margin-top: 3em;
  position: relative;
}
.patient-info fieldset {
  background: transparent !important;
  background-image: none !important;
  border: 0 none !important;
  margin: 0 !important;
}
.subsection {
  margin-left: 1em;
}
.clear {
  float: none;
  clear: both;
}
label.section {
  display: block;
  clear: both;
  margin: .3em 0;
}
fieldset {
  border: 0 none;
  padding: 0;
  margin: .5em 0;
  float: none;
  clear: both;
}
fieldset.phenotype-group {
  padding: 0 .8em;
  margin: 1em 0.5em .5em 0;
}

.phenotypes-main {
  float: left;
  width: 48.5%;
}
.phenotypes-other {
  width: 48.5%;
  float: right;
}

.phenotypes-other .accepted-suggestions {
  margin: 0;
}
.accepted-suggestion {
  padding: 0;
}
.phenotypes-other .accepted-suggestions li:last-child{
  margin-bottom: 1em;
}


.quick-search-box {
  float: right;
  padding: .5em .8em;
  width: 30%;
  position: absolute;
  top: 0;
  right: 0;
}

.emphasized-box { 
  background: #DEF;
  color: #000;
  border: 1px solid #DEF;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

legend {
  color: #000;
  font-weight: bold;
  font-size: 140%;
  padding: 0;
  margin: 0;
}
fieldset.phenotype-group legend {
  font-size: 110%;
  display: block;
  padding: 0.5em 0 0.2em;
  position: static;
  width: 100%; 
  cursor:pointer;
  margin: 0 0 .5em -1em;
  border-bottom: 1px dotted #ccc;
}
fieldset.phenotype-group legend:before {
  display: inline-block;
  color: #369;
  font-size: 120%;
  content: '\25BE ';
  width: 1em;
  text-shadow: 0 0 5px #ccc;
}
fieldset.phenotype-group.collapsed legend:before {
  content: '\25B8 ';
}
fieldset.collapsed {
  padding: 0 0.8em;
}
fieldset.collapsed * {
  display: none;
}
fieldset.collapsed legend {
  display: block;
}
.phenotype-group label {
  display: inline-block;
  width: 100%;
}
.quick-search-box legend {
  padding: 0 .5em 0 .8em;
  background: transparent;
  position: relative;
  top: 0;
  left: 0;
}
fieldset.quick-search-box h2 {
  padding: 0;
  margin: 0 0 .5em;
  font-size: 100%;
}
label {
  font-weight: normal;
  color: #000;
}
.hint {
  color: #777;
  font-size: 70%;
  padding: 0;
  margin: 0;
}
input[type=text] {
  width: 100%;
  border: 1px solid #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
input[type=text]:focus {
  border-color: #e82;
}
input[type=submit],
input[type=button],
button {
  background-color: #000;
  color: #fff;
  border: 1px solid #777;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 0 6px #ddd;
}
.suggestItems .suggestValue {
  color: #000;
}
label.selected {
  color: #000;
  background-color: #FFB;
  font-weight: bold;
  padding-left: 4px;
  margin-left: -4px;
  -moz-border-radius: .7em;
  -webkit-border-radius: .7em;
  border-radius: .7em;
}

.warning, .error {
  display: block;
  padding: .5em;
  margin: .5em 0;
  border: 1px solid #ffd972;
  background-color: #ffd972;
  font-weight: bold;
}

.warning:before, .error:before {
  display: inline-block;
  content: "\26A0";
  font-size: 150%;
  font-weight: bold;
  vertical-align: baseline;
  margin-right: .2em;
  color: #c82;
}
.error, .error:before, .wrongValue {
  color: #c00 !important;
}
.error, input.wrongValue {
  border: 1px solid #c00;
  background-color: #ffd;
}
input.wrongValue {
  color: #000 !important;
}