.xhover {
  background:red;
}

input[type="text"].suggest {
  border-width: 1px;
}

body {
  position: relative;
}

div.suggestItems {
  position:absolute;
  border: 1px solid #777;
  border-top: none;
  background: white;
  z-index: 100013;
  text-align:left;
  -moz-box-shadow: 0 4px 8px #777;
  box-shadow: 0 4px 8px #777;
}

div.suggestItems ul {
  margin: 0px;
}

div.suggestItems li {
  overflow:hidden;
/*  white-space:nowrap; */
  padding: 0;
}

div.suggestItems * {
  line-height:1.6em;
}

div.suggestItems em {
  font-weight:700;
  margin-right:2px;
}

div.suggestItems span.info span.hint {
  color: #777;
  margin-left:5px;
}

div.suggestItems div.info {
  color: #777;
  font-size: 0.8em;
  padding-left:5px;
}

div.suggestItems div.info span.legend {
  font-weight: normal;
}

ul.suggestList {
  margin:0px !important;
  text-transform:none;
  color: #333;
  font-weight:normal;
  padding: 0;
}

ul.suggestList li{
  padding: 4px;
  border-top: 1px dotted #777;
}
ul.suggestList li:first-child{
  border-top: 0 none;
}
ul.suggestList .xhighlight {
  background-color: #FFB;
  cursor:pointer;
}

div.suggestItemName {
  text-indent: 0;
}

div.suggestItem, li.noSuggestion div {
  color: #333;
  font-size: 0.875em;
}

div.suggestItemName,
div.suggestItemInfo {
  text-decoration: inherit;
}

.highlight {
  background-color: #FFB;
  color: #000;
  font-weight:bold;
  text-decoration: inherit;
}

div.resultContainer div.sourceName {
  background-color: #DDD;
  font-variant: small-caps;
  font-weight: 700;
  color: #333;
  padding-top:3px;
  font-size:0.875em;
  background-position:3px 3px;
  background-repeat:no-repeat;
}

.horizontalLayout div.resultContainer div.sourceName {
  float:left;
  width:150px;
  margin-right:3px;
  padding-right:20px;
  text-align:right;
  background-position:right center;
}

.horizontalLayout div.resultContainer div.xitemcontainer {
  margin-left:10px;
}

.horizontalLayout div.resultContainer div.results {
  clear:both;
  background-color: #DDD;
}

.horizontalLayout div.resultContainer ul.suggestList {
  background-color:white;
}

div.resultContainer div.sourceContent.loading {
  background-position:center center;
  min-height:30px;
}

.suggestId:before {
  content: "[";
}
.suggestId:after {
  content: "] ";
}
.suggestId {
  font-size: 87%;
}
.suggestInfo {
  font-size: 70%;
  word-wrap: normal !important;
  display: block;
  width: 99%;
  float: none;
  clear: both;
}
.suggestInfo dt {
  font-style: italic;
}
