<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleExecutable</key>
    <string>${bundleExecutable}</string>
    <key>CFBundleIdentifier</key>
    <string>${project.groupId}</string>
    <key>CFBundleName</key>
    <string>PhenoTips</string>
    <key>CFBundleVersion</key>
    <string>${project.version}</string>
    <key>CFBundleShortVersionString</key>
    <string>${project.version}</string>
    <key>LSMultipleInstancesProhibited</key>
    <true/>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.medical</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
  </dict>
</plist>
