Package: phenotips-common
Version: [[version]]
Maintainer: [[debian.maintainer]]
Description: [[debian.description]]
Section: java
Priority: optional
Architecture: all
Homepage: [[debian.homepage]]
Depends: unzip
XB-License: [[debian.license]]
