
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>pt-22</title>
	<style>
		.measurement {
			padding: 0.2em 0;
			clear: both;
		}
		.measurement > * {
			float: left;
		}
		.measurement .delete {
			width: 15px;
			cursor: pointer;
			font-size: 80%;
			font-weight: bold;
		}
		.measurement-row {
			clear: both;
		}
		.measurement-row > * {
			display: block;
			float: left;
			min-height: 1px;
		}
		.measurement-row span.side-label {
			width: 15px;
			font-size: 80%;
			font-weight: bold;
		}
		.measurement-row span.unit {
			width: 25px;
		}
		.measurement-row span.pctl {
			width: 100px;
			font-size: 80%;
		}
		.measurement-row label {
			width: 180px;
		}
		.pctl.sd-0 { color: green; }
		.pctl.sd-1 { color: orange; }
		.pctl.sd-2 { color: red; }
		.measurement-set.proto {
			display: none;
		}
		.measurement-set {
			border: 1px solid #aaa;
			padding: 10px;
			float: left;
			clear: both;
			overflow: auto;
			margin: 5px;
			position: relative;
		}
		.measurement-set > .delete {
			width: 15px;
			font-size: 80%;
			font-weight: bold;
			cursor: pointer;
			position: absolute;
			top: 10px; right: 10px;
		}
		.new-measurement-select {
			width: 190px;
		}
	</style>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prototype/1.7.2/prototype.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
	<script>
		var addMeasurementSet = function() {
			var clone = $$('.measurement-set.proto')[0].clone(true);
			clone.removeClassName('proto');
			clone.select('.date')[0].observe('input', dateChangeHandler);
			clone.select('.measurement-row input').each(function(el) {
				el.observe('input', measurementInputHandler)
			});
			clone.select('> .delete')[0].observe('click', function() {
				this.up().remove();
			});
			clone.select('div.more')[0].hide();
			clone.select('button.toggle-more')[0].observe('click', function() {
				this.up().select('div.more')[0].toggle();
			});
			$('measurements').insert(clone);
			return clone;
		};

		var handleAddMeasurementSet = function() {
			$$('.btn_add-measurement-set')[0].observe('click', function() {
				addMeasurementSet();
			});
		};

		var measurementInputHandler = function() {
			if (parseInt(this.value) > 1) {
				var className = 'sd-0';
				var pctlText = '50th pctl (0SD)';
			} else {
				var className = 'sd-1';
				var pctlText = '25th pctl (1SD)';
			}

			var pctl = this.up().select('.pctl')[0];
			pctl.removeClassName('sd-0').removeClassName('sd-1').removeClassName('sd-2');
			pctl.addClassName(className);
			pctl.innerText = pctlText;
		};

		var dateChangeHandler = function() {
			if (!this.value || !$('bday').value) return;

			var bday = moment($('bday').value);
			var measureDate = moment(this.value);
			var ageYears = measureDate.diff(bday, 'years');
			this.up().select('input.years')[0].value = ageYears;
			this.up().select('input.months')[0].value = measureDate.diff(bday, 'months') - ageYears*12;
		};

		var init = function() {
			handleAddMeasurementSet();
			addMeasurementSet();
		};
	</script>
</head>
<body>
	<label>Birthdate:</label> 
	<input type="date" id="bday">
	<div id="measurements">
		<div class="measurement-set proto">
			<span class="delete">&times;</span>
			<label for="date">Date:</label> <input class="date" type="date">
			<label for="">Age:</label> <input type="text" size="2" class="years">y <input type="text" size="2" class="months">m

			<div class="measurements">
				<div class="measurement">
					<div class="measurement-row">
						<label>Weight</label>
						<span class="side-label"></span>
						<input type="text" size="5">
						<span class="unit">cm</span>
						<span class="pctl"></span>
					</div>
				</div>
				<div class="measurement">
					<div class="measurement-row">
						<label>Height</label>
						<span class="side-label"></span>
						<input type="text" size="5">
						<span class="unit">cm</span>
						<span class="pctl"></span>
					</div>
				</div>
				<div class="measurement">
					<div class="measurement-row">
						<label>Arm Span</label>
						<span class="side-label">L</span>
						<input type="text" size="5">
						<span class="unit">cm</span>
						<span class="pctl"></span>
					</div>
					<div class="measurement-row">
						<label></label>
						<span class="side-label">R</span>
						<input type="text" size="5">
						<span class="unit">cm</span>
						<span class="pctl"></span>
					</div>
				</div>
				<div class="measurement">
					<div class="measurement-row">
						<label>Head Circumference</label>
						<span class="side-label"></span>
						<input type="text" size="5">
						<span class="unit">cm</span>
						<span class="pctl"></span>
					</div>
				</div>
				<button class="toggle-more">+ Show more</button>
				<div class="more">
					<div class="measurement">
						<div class="measurement-row">
							<label>Outer Canthal Distance</label>
							<span class="side-label"></span>
							<input type="text" size="5">
							<span class="unit">cm</span>
							<span class="pctl"></span>
						</div>
					</div>
					<div class="measurement">
						<div class="measurement-row">
							<label>Inner Canthal Distance</label>
							<span class="side-label"></span>
							<input type="text" size="5">
							<span class="unit">cm</span>
							<span class="pctl"></span>
						</div>
					</div>
					<div class="measurement">
						<div class="measurement-row">
							<label>Hand Length</label>
							<span class="side-label">L</span>
							<input type="text" size="5">
							<span class="unit">cm</span>
							<span class="pctl"></span>
						</div>
						<div class="measurement-row">
							<label></label>
							<span class="side-label">R</span>
							<input type="text" size="5">
							<span class="unit">cm</span>
							<span class="pctl"></span>
						</div>
					</div>
					<div class="measurement">
						<div class="measurement-row">
							<label>Palm Length</label>
							<span class="side-label">L</span>
							<input type="text" size="5">
							<span class="unit">cm</span>
							<span class="pctl"></span>
						</div>
						<div class="measurement-row">
							<label></label>
							<span class="side-label">R</span>
							<input type="text" size="5">
							<span class="unit">cm</span>
							<span class="pctl"></span>
						</div>
					</div>
					<div class="measurement">
						<div class="measurement-row">
							<label>Foot Length</label>
							<span class="side-label">L</span>
							<input type="text" size="5">
							<span class="unit">cm</span>
							<span class="pctl"></span>
						</div>
						<div class="measurement-row">
							<label></label>
							<span class="side-label">R</span>
							<input type="text" size="5">
							<span class="unit">cm</span>
							<span class="pctl"></span>
						</div>
					</div>
					<div class="measurement">
						<div class="measurement-row">
							<label>Sitting Height</label>
							<span class="side-label"></span>
							<input type="text" size="5">
							<span class="unit">cm</span>
							<span class="pctl"></span>
						</div>
					</div>
					<div class="measurement">
						<div class="measurement-row">
							<label>Philtrum Length</label>
							<span class="side-label"></span>
							<input type="text" size="5">
							<span class="unit">cm</span>
							<span class="pctl"></span>
						</div>
					</div>
					<div class="measurement">
						<div class="measurement-row">
							<label>Ear Length</label>
							<span class="side-label">L</span>
							<input type="text" size="5">
							<span class="unit">cm</span>
							<span class="pctl"></span>
						</div>
						<div class="measurement-row">
							<label></label>
							<span class="side-label">R</span>
							<input type="text" size="5">
							<span class="unit">cm</span>
							<span class="pctl"></span>
						</div>
					</div>
					<div class="measurement">
						<div class="measurement-row">
							<label>Palpebral Fissure Length</label>
							<span class="side-label"></span>
							<input type="text" size="5">
							<span class="unit">cm</span>
							<span class="pctl"></span>
						</div>
					</div>
					<div class="measurement">
						<div class="measurement-row">
							<label>Interpupilary Distance</label>
							<span class="side-label"></span>
							<input type="text" size="5">
							<span class="unit">cm</span>
							<span class="pctl"></span>
						</div>
					</div>
					<div class="measurement">
						<div class="measurement-row">
							<label>Middle Finger Length</label>
							<span class="side-label">L</span>
							<input type="text" size="5">
							<span class="unit">cm</span>
							<span class="pctl"></span>
						</div>
						<div class="measurement-row">
							<label></label>
							<span class="side-label">R</span>
							<input type="text" size="5">
							<span class="unit">cm</span>
							<span class="pctl"></span>
						</div>
					</div>
					<div class="measurement">
						<div class="measurement-row">
							<label>Internipple Distance</label>
							<span class="side-label"></span>
							<input type="text" size="5">
							<span class="unit">cm</span>
							<span class="pctl"></span>
						</div>
					</div>
					<div class="measurement">
						<div class="measurement-row">
							<label>Chest Circumference</label>
							<span class="side-label"></span>
							<input type="text" size="5">
							<span class="unit">cm</span>
							<span class="pctl"></span>
						</div>
					</div>
					<div class="measurement">
						<div class="measurement-row">
							<label>Upper Segment</label>
							<span class="side-label"></span>
							<input type="text" size="5">
							<span class="unit">cm</span>
							<span class="pctl"></span>
						</div>
					</div>
					<div class="measurement">
						<div class="measurement-row">
							<label>Lower Segment</label>
							<span class="side-label"></span>
							<input type="text" size="5">
							<span class="unit">cm</span>
							<span class="pctl"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<p style="clear: both;">
		<button class="btn_add-measurement-set">Add measurement set</button>
	</p>

	<script>
		init();
	</script>
</body>
</html>