<div id="edu-tour-card">

	<div id="edu-tour-0" class="hide">
	</div>

	<div id="edu-tour-1" class="hide">
		<button  id="start-over" class="icon-button-sm btn btn-default btn-raised" 
		onclick="startOver()" >
				Return to Start
		</button>

		<span id="edu-tour-label" class="card-label" style="padding:4px;">Hunt for a cancer gene in a family</span>

		<span style="inline-block">
		    

		    <button id="button-load-father-data" class="active edu-tour-button icon-button-sm btn btn-default btn-raised"  
		    onclick="$('.edu-tour-button.active').removeClass('active');$(this).addClass('active');dataCard.mode = 'single';dataCard.loadSampleData('proband', 'Father', 'sample2')">
		      <span>
			      <i class="material-icons" >star</i>
			      Father
		      </span>
		    </button>

		    <span id="children-buttons" class="edu-tour-1-child-buttons" style="display:inline-block;">
		       <span id="jimmy-and-sarah-buttons" style="display:inline-block;">
			    <button id="button-load-jimmy-data" class="edu-tour-data-button edu-tour-button icon-button-sm btn btn-default btn-raised"  
			    onclick="$('.edu-tour-button.active').removeClass('active');$(this).addClass('active');dataCard.mode = 'trio';dataCard.loadSampleData('proband', 'Jimmy', 'sample3');">
			      <span>
				      <i class="material-icons" >star</i>
				      Jimmy
			      </span>
			    </button>

			    <button class="edu-tour-button edu-tour-data-button icon-button-sm btn btn-default btn-raised"  
			    onclick="$('.edu-tour-button.active').removeClass('active');$(this).addClass('active');dataCard.mode = 'trio';dataCard.loadSampleData('proband', 'Bobby', 'sample4')">
			      <span>
				      <i class="material-icons" >star</i>
				      Bobby
			      </span>
			    </button>
			   </span>

			    <button class="edu-tour-button edu-tour-data-button icon-button-sm btn btn-default btn-raised"  style="margin-right:20px;"
			    onclick="$('.edu-tour-button.active').removeClass('active');$(this).addClass('active');dataCard.mode = 'trio';dataCard.loadSampleData('proband', 'Sarah', 'sample5')">
				  <span>
				      <i class="material-icons" >star</i>
				      Sarah
			      </span>

			    </button>
		    </span>

		  
		</span>
		<audio id="tour1-recording1" src="assets/audio/tour1-recording1.wav" ></audio>
		<audio id="tour1-recording2" src="assets/audio/tour1-recording2.wav"><audio>
		<audio id="tour1-recording3" src="assets/audio/tour1-recording3.wav"><audio>
		<audio id="tour1-recording4" src="assets/audio/tour1-recording4.wav"><audio>
		<audio id="tour1-recording5" src="assets/audio/tour1-recording5.wav"><audio>

		
	</div>

	<div id="edu-tour-2" class="hide">
		<button  id="start-over" class="icon-button-sm btn btn-default btn-raised" 
		onclick="startOver()" >
				Return to Start
		</button>

		<span class="card-label" style="padding-right:10px;" id="edu-tour-2-label">Decide how much medicine to give a patient</span>

		<span id="child-buttons-tour2" style="display:inline-block">

		    <button id="button-load-john-data" class="active edu-tour-button icon-button-sm btn btn-default btn-raised"  
		    onclick="$('.answers').removeClass('selected');$('#john-answers').addClass('selected');$('.edu-tour-button.active').removeClass('active');$(this).addClass('active');dataCard.loadSampleData('proband', 'John', 'sample1')">
			  <span>
			      <i class="material-icons" >star</i>
			      John
		      </span>
	    
		    </button>

		    <button id="button-load-diego-data"  class="edu-tour-data-button edu-tour-button icon-button-sm btn btn-default btn-raised"  
		    onclick="$('.answers').removeClass('selected');$('#diego-answers').addClass('selected');$('.edu-tour-button.active').removeClass('active');$(this).addClass('active');dataCard.loadSampleData('proband', 'Diego', 'sample3')">
		      <span>
			      <i class="material-icons" >star</i>
			      Diego
		      </span>
		    </button>

		    <button id="button-load-anna-data"  class="edu-tour-data-button edu-tour-button icon-button-sm btn btn-default btn-raised"  style="margin-right:20px;" 
		    onclick="$('.answers').removeClass('selected');$('#anna-answers').addClass('selected');$('.edu-tour-button.active').removeClass('active');$(this).addClass('active');dataCard.loadSampleData('proband', 'Anna', 'sample2')">
		      <span>
			      <i class="material-icons" >star</i>
			      Anna
		      </span>
		    </button>

		    
		</span>
		<audio id="tour2-recording1" src="assets/audio/tour2-recording1.wav"></audio>
		<audio id="tour2-recording2" src="assets/audio/tour2-recording2.wav"><audio>
		<audio id="tour2-recording3" src="assets/audio/tour2-recording3.wav"><audio>

	</div>

</div>