<div id="slider-icon-bar"  style="padding-top:30px;" class="hide level-edu level-basic closed">

  <div id="button-show-filters" class="level-edu level-basic closed sidebar-button btn btn-default icon-button" style="margin-top: 10px;" onclick="$('.sidebar-button').removeClass('selected');$(this).addClass('selected');showSidebar('Filter')">     
              <div class="material-icons">tune</div>          
              <div class="label">Filter</div>
  </div>

  <div id="button-show-examine" class="level-edu level-basic closed sidebar-button btn btn-default icon-button" onclick="$('.sidebar-button').removeClass('selected');$(this).addClass('selected');showSidebar('Examine')">     
              <div class="material-icons">remove_red_eye</div>          
              <div class="label">Inspect</div>
  </div>
  
  

  <div id="button-show-phenolyzer" class="closed sidebar-button btn btn-default icon-button button-show-phenolyzer" onclick="$('.sidebar-button').removeClass('selected');$(this).addClass('selected');showSidebar('Phenolyzer')">  
            <svg height="18" width="18">
              <g transform="translate(0,0)">
                <use id="search-dna-glyph" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search-dna-symbol" width="18" height="18" fill="white"></use>
              </g>
            </svg>   
             
               <div class="label" style="margin-top:-4px;">Find</div>          
              <div style="margin-top: -5px ! important;" class="label">genes</div>    
  
  </div>


  <div id="button-show-bookmarks" style="padding-top:1px !important" class="level-edu level-basic closed sidebar-button btn btn-default icon-button"  onclick="$('.sidebar-button').removeClass('selected');$(this).addClass('selected');showSidebar('Bookmarks')">     
              <div class="material-icons" style="padding-top:0px;">bookmark</div>
              <div class="label">Book</div>
              <div style="margin-top: -5px ! important;" class="label">marks</div>          
  
  </div>

  <div id="button-find-missing-variants" style="padding-top:0px !important" class="level-edu level-basic closed hide sidebar-button btn btn-default  icon-button"  onclick="$('.sidebar-button').removeClass('selected');$(this).addClass('selected');showSidebar('Recall');">     
              <div class="material-icons">dialpad</div>
              <div class="label">Call</div>          
              <div style="margin-top: -5px ! important;" class="label">variants</div>          
  
  </div>

    
  <div id="button-show-help" class="level-edu level-basic closed sidebar-button btn btn-default icon-button"  onclick="$('.sidebar-button').removeClass('selected');$(this).addClass('selected');showSidebar('Help');">     
              <div class="material-icons">info</div>
              <div class="label">About</div>          
  
  </div>

</div>

