<div style="padding-bottom:5px">
	<h3>Welcome to Gene.iobio on MyGene2</h3>
	
	<a id="intro-link" class="" href="javascript:void(0)" onclick="keepShowingIntro=true;toggleIntro()">Tell me more...</a>

</div>
<div id="intro-text" class="hide" >
	<p>
		You can view your raw sequence data (VCF file) in multiple ways. In the left sidebar, you can search by name of gene (example: KDM1A) or by name of condition (examples: cystic fibrosis, breast cancer). When you search for the name of a condition, you may find a list of one or more genes reported to underlie that condition.
	</p>

	<p>
		In the 'Gene info' panel, you can see a dropdown menu with the name of each gene in your search results and to the right, a short summary of what is known about the gene.
	</p>
	<p>
		Next you will see a cartoon drawing of the gene and its exons and introns.
	</p>
		Below that is a table of the variants you have in the gene. The table is sorted from left to right by whether the variant is predicted to underlie a condition according to a database called <a href="https://www.ncbi.nlm.nih.gov/clinvar/intro/"">ClinVar</a>. A person who has a variant does not necessarily have the condition.
	</p>

	<p>
		In Basic mode, only variants that have a classification in ClinVar and have a frequency of &lt;1% in the general population are shown. If there are no matching variants, the table will be empty. You may have other variants in this gene that are not yet classified in ClinVar. These variants can only be seen in Advanced mode.
	</p>

	<p>
		At the bottom of the 'Gene info' panel, you will see a cartoon drawing of the gene in each family member who has a VCF file available through MyGene2. Different types of variants are presented by different shapes (see legend in left sidebar for details). Hovering or clicking on a variant shape will highlight the corresponding column in the table.
	</p>
	<div style="text-align:center">
		<a id="intro-less-link" href="javascript:void(0)" onclick="toggleIntro()">Close</a>
	</div>
</div>