<div id="legend" >

  <div  style="display:flex;flex-wrap:wrap;justify-content:flex-start">
    <div style="text-align:left;width:100px;margin-right:10px">
      <div class="legend-label" style="width:130px">Inheritance</div>
       <svg id="denovo" class="legend-element" width="100" height="14" transform="translate(0,0)">
        <g class="denovo" transform="translate(0,-2)" style="opacity: 1;">
          <use xmlns:xlink="http://www.w4.org/1999/xlink" xlink:href="#denovo-symbol" width="20" height="20"></use>
        </g>
        <text class="name" style="fill-opacity: 1;" x="20" y="11">Denovo</text></svg>
      </svg>
      <svg id="recessive" class="legend-element" width="100" height="14" transform="translate(0,0)">
        <g class=" recessive" style="opacity: 1;" transform="translate(0,-2)">
          <use xmlns:xlink="http://www.w4.org/1999/xlink" xlink:href="#recessive-symbol" width="20" height="20"></use>
        </g>
        <text class="name" style="fill-opacity: 1;" x="20" y="11">Recessive</text></svg>
      </svg>
    </div>
        
    <div style="text-align:left;width:80px;margin-right:10px">
      <div class="legend-label">Impact</div>
      <svg id="HIGH" class="legend-element" width="80" height="14" transform="translate(0,0)">
        <text class="name" x="15" y="10" style="fill-opacity: 1;font-size: 12px;">High</text>
        <rect class="legend-symbol impact_HIGH" rx="1" ry="1" x="1" width="10" y="0" height="10" style="opacity: 1;"></rect>
      </svg>
      <svg id="MODERATE" class="legend-element" width="80" height="14" transform="translate(0,0)">
        <text class="name" x=15 y="10" style="fill-opacity: 1;font-size: 12px;">Moderate</text>
        <rect class="legend-symbol impact_MODERATE" rx="1" ry="1" x="1" width="10" y="0" height="10" style="opacity: 1;"></rect>
      </svg>
      <svg id="MODIFIER" class="legend-element" width="80" height="14" transform="translate(0,0)">
        <text class="name" x=15 y="10" style="fill-opacity: 1;font-size: 12px;">Modifier</text>
        <rect class="legend-symbol impact_MODIFIER" rx="1" ry="1" x="1" width="10" y="0" height="10" style="opacity: 1;"></rect>
      </svg>
      <svg id="LOW" class="  legend-element" width="80" height="14" transform="translate(0,0)">
        <text class="name" x="15" y="10" style="fill-opacity: 1;font-size: 12px;">Low</text>
        <rect class="legend-symbol  impact_LOW" rx="1" ry="1" x="1" width="10" y="0" height="10" style="opacity: 1;"></rect>
      </svg>
    </div>

    <div style="text-align:left;width:70px;margin-right:10px">
        <div class="legend-label">Type</div>
        <svg id="snp" class="  legend-element" width="80" height="14" transform="translate(0,0)">
          <text class="name" x="15" y="10" style="fill-opacity: 1;font-size: 12px;">SNP</text>
          <rect class="legend-symbol snp" rx="2" ry="1" x="1" width="10" y="1" height="10" style="opacity: 1; fill: none; stroke: rgb(0, 0, 0); stroke-width: 1px;"></rect>
        </svg>

        <svg id="ins" class="  legend-element" width="80" height="14" transform="translate(0,0)">
          <text class="name" x="15" y="10" style="fill-opacity: 1;font-size: 12px;"> Insertion</text>
          <circle class="legend-symbol ins" cx="5" cy="5" r="5" style="fill: none; stroke: rgb(0, 0, 0); stroke-width: 1px; opacity: 1;"></circle>
        </svg>

        <svg id="del" class="  legend-element" width="80" height="14" transform="translate(0,0)">
          <text class="name" x="15" y="10" style="fill-opacity: 1;font-size: 12px;">Deletion</text>       
          
          <polygon class="legend-symbol del  legend-element" points="0,10 5,0 10,10" rx="1" ry="1" x="1" y="2" style="fill: none; stroke: rgb(0, 0, 0); stroke-width: 1px; opacity: 1;">
          </polygon>
        </svg>

        <svg id="complex" class="  legend-element" width="80" height="14" transform="translate(0,0)">
          <text class="name" x="15" y="11" style="fill-opacity: 1;font-size: 12px;">Complex</text>
          <g transform="translate(7,6)">                 
            <path d="M0,-6.771323825530848L5.79617697938849,0 0,6.771323825530848 -5.79617697938849,0Z" class="legend-symbol complex" style="opacity: 1;fill: none;stroke-width: 1.5px !important;"></path>         
          </g>
        </svg>
      </div>

      <div style="width:140px;margin-right:10px">
            <div class="legend-label">Clinvar</div>
            <svg id="clinvar_path" class="legend-element" width="110" height="14" transform="translate(0,0)">
            <g class="clinvar_path" transform="translate(1,0)" style="opacity: 1;">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="11" height="11" style="fill: #ad494A;"></use>
            </g>
            <text class="name" style="fill-opacity: 1;" x="15" y="10">Pathogenic</text>

            </svg>

            <svg id="clinvar_lpath" class="legend-element" width="110" height="14" transform="translate(0,0)">
            <g class="clinvar_lpath" transform="translate(1,0)" style="opacity: 1;">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="11" height="11" style="fill: #FB7737;"></use>
            </g>
            <text class="name" style="fill-opacity: 1;" x="15" y="10">Likely Pathogenic</text>
            </svg>

            <svg id="clinvar_uc" class="legend-element" width="140" height="14" transform="translate(0,0)">
              <g class="clinvar_uc" transform="translate(1,0)" style="opacity: 1;">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="11" height="11" style="fill:rgba(231, 186, 82, 1);"></use>
              </g>
              <text class="name" style="fill-opacity: 1;" x="15" y="10">Unknown significance </text>
            </svg>

            <svg id="clinvar_cd" class="legend-element" width="110" height="14" transform="translate(0,0)">
              <g class="clinvar_cd" transform="translate(1,0)" style="opacity: 1;">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="11" height="11" style="fill: rgb(111, 182, 180);"></use>
              </g>
              <text class="name" style="fill-opacity: 1;" x="15" y="10">Conflicting data</text>
            </svg>


            <svg id="clinvar_other" class="legend-element" width="73" height="14" transform="translate(0,0)">
              <g class="clinvar_other" transform="translate(1,0)" style="opacity: 1;">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="11" height="11" style="fill: rgb(189, 189, 189);"></use>
              </g>
              <text class="name" style="fill-opacity: 1;" x="15" y="10">Other </text>
            </svg>

            <svg id="clinvar_benign" class="legend-element" width="73" height="14" transform="translate(0,0)">
              <g class="clinvar_benign" transform="translate(1,0)" style="opacity: 1;">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="11" height="11" style="fill: rgba(156, 194, 49, 1);"></use>
              </g>
              <text class="name" style="fill-opacity: 1;" x="15" y="10">Benign</text>
            </svg>

            <svg id="clinvar_lbenign" class="legend-element" width="93" height="14" transform="translate(0,0)">
              <g class="clinvar_lbenign" transform="translate(1,0)" style="opacity: 1;">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clinvar-symbol" width="11" height="11" style="fill: rgba(181, 207, 107, 1);"></use>
              </g>
              <text class="name" style="fill-opacity: 1;" x="15" y="10">Likely Benign</text>
            </svg>
      </div>

      <div style="width:110px;margin-right:10px">
        <div class="legend-label">Allele Frequency</div>
        <svg id="afexac_unique" class="legend-element" width="70" height="14" transform="translate(0,0)">
          <text class="name" x="20" y="11" style="fill-opacity: 1;">private</text>
          <g class=" afexac_unique">
            <use xmlns:xlink="http://www.w4.org/1999/xlink" xlink:href="#af-symbol" width="12" height="12" style="fill: rgb(199, 0, 1);"></use>
          </g>
        </svg><svg id="afexac_uberrare" class="legend-element" width="60" height="14" transform="translate(0,0)">
          <text class="name" x="20" y="11" style="fill-opacity: 1;">&lt; .01%</text>
          <g class=" afexac_uberrare">
            <use xmlns:xlink="http://www.w4.org/1999/xlink" xlink:href="#af-symbol" width="12" height="12" style="fill: rgba(204, 28, 29, 0.79);"></use>
          </g>
        </svg><svg id="afexac_superrare" class="legend-element" width="60" height="14" transform="translate(0,0)">
          <text class="name" x="20" y="11" style="fill-opacity: 1;">&lt; .1%</text>
          <g class=" afexac_superrare">
            <use xmlns:xlink="http://www.w4.org/1999/xlink" xlink:href="#af-symbol" width="12" height="12" style="fill: rgba(255, 44, 0, 0.76);"></use>
          </g>
        </svg><svg id="afexac_rare" class="legend-element" width="60" height="14" transform="translate(0,0)">
          <text class="name" x="20" y="11" style="fill-opacity: 1;">&lt; 1%</text>
          <g class=" afexac_rare">
            <use xmlns:xlink="http://www.w4.org/1999/xlink" xlink:href="#af-symbol" width="12" height="12" style="fill: rgb(247, 138, 31);"></use>
          </g>
        </svg><svg id="afexac_uncommon" class="legend-element" width="60" height="14" transform="translate(0,0)">
          <text class="name" x="20" y="11" style="fill-opacity: 1;">1-5%</text>
          <g class=" afexac_uncommon">
            <use xmlns:xlink="http://www.w4.org/1999/xlink" xlink:href="#af-symbol" width="12" height="12" style="fill: rgb(224, 195, 128);"></use>
          </g>
        </svg><svg id="afexac_common" class="legend-element" width="60" height="14" transform="translate(0,0)">
          <g class=" af_common">
            <use xmlns:xlink="http://www.w4.org/1999/xlink" xlink:href="#af-symbol" width="12" height="12" style="fill: rgb(189,189,189);"></use>
          </g>
          <text class="name" style="fill-opacity: 1;" x="20" y="11">&gt; 5%</text>
        </svg>
        <svg id="afexac_unique_nc" class="legend-element" width="110" height="14" transform="translate(0,0)">
          <text class="name" x="20" y="11" style="fill-opacity: 1;">n/a (noncoding)</text>
          <g transform="translate(0,3)" class=" afexac_unique_nc">
            <use xmlns:xlink="http://www.w4.org/1999/xlink" xlink:href="#af-symbol" width="12" height="12" style="fill:none;stroke: #6b6666;"></use>
          </g>
        </svg>

      </div>


      <div style="width:120px;margin-right:10px">
        <div class="legend-label">PolyPhen</div>
        <svg id="polyphen_probably_damaging" class="legend-element " width="120" height="14" transform="translate(0,0)">
          <g class="polyphen_probably_damaging" transform="translate(1,0)" style="opacity: 1;">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#biohazard-symbol" width="12" height="12" style="fill: #ad494A"></use>
          </g>
          <text class="name" style="fill-opacity: 1;" x="15" y="10">Probably damaging</text>
        </svg>

        <svg id="polyphen_possibly_damaging" class="legend-element " width="120" height="14" transform="translate(0,0)">
          <g class="polyphen_possibly_damaging" transform="translate(1,0)" style="opacity: 1;">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#biohazard-symbol" width="12" height="12" style="fill: #FB7737"></use>
          </g>
          <text class="name" style="fill-opacity: 1;" x="17" y="10">Possibly damaging</text>
        </svg>

        <svg id="polyphen_benign" class="legend-element " width="120" height="14" transform="translate(0,0)">
          <g class="polyphen_benign" transform="translate(1,0)" style="opacity: 1;">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#biohazard-symbol" width="12" height="12" style="fill: rgba(181, 207, 107,1)"></use>
          </g>
          <text class="name" style="fill-opacity: 1;" x="15" y="10">Benign</text>
        </svg>
      </div>  

      <div style="width:150px;margin-right:10px">
        <div class="legend-label">SIFT</div>
        <svg id="sift_deleterious" class="legend-element " width="110" height="14" transform="translate(0,0)">
          <g class="sift_deleterious" transform="translate(1,0)" style="opacity: 1;">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#danger-symbol" width="12" height="12" style="fill: #ad494A"></use>
          </g>
          <text class="name" style="fill-opacity: 1;" x="14" y="9">Deleterious</text>
        </svg>

        <svg id="sift_deleterious_low_confidence" class="legend-element " height="14" width="175"  transform="translate(0,0)">
          <g class="sift_deleterious_low_confidence" transform="translate(1,0)" style="opacity: 1;">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#danger-symbol" width="12" height="12" style="fill: #FB7737"></use>
          </g>
          <text class="name" style="fill-opacity: 1;" x="15" y="9">Deleterious (low confidence)</text>
        </svg>

        <svg id="sift_tolerated" class="legend-element " width="67" height="14" transform="translate(0,0)">
          <g class="sift_tolerated" transform="translate(1,0)" style="opacity: 1;">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#danger-symbol" width="12" height="12" style="fill: rgba(181, 207, 107,1)"></use>
          </g>
          <text class="name" style="fill-opacity: 1;" x="14" y="9">Tolerated</text>
        </svg>

        <svg id="sift_tolerated_low_confidence" class="legend-element " height="14" width="180" transform="translate(0,0)">
          <g class="sift_tolerated_low_confidence" transform="translate(1,0)" style="opacity: 1;">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#danger-symbol" width="12" height="12" style="fill: rgba(231,186,82,1)"></use>
          </g>
          <text class="name" style="fill-opacity: 1;" x="15" y="9">Tolerated (low confidence)</text>
        </svg>

      </div>   
    </div>     
</div>