<div id="recall-card">
<div class="card-label">Call Variants</div>

	<button id="button-call-variants" class="btn btn-default btn-raised icon-button-sm" style="padding-top: 2px;padding-bottom: 1px;" onclick="jointCallVariants()">         	
		<i class="material-icons" style="font-size:18px;">play_arrow</i>
         Run Freebayes    
  	</button>

  	<div style="clear:both;padding-top:20px;">


  	 <div class="loader proband covloader hide" style="margin-top:5px !important;margin-left: 0px !important">
        <span class="loader-label" style="font-size:12px !important">Calling variants for proband</span>      
        <img src="assets/images/wheel.gif">
     </div>
  	 <div class="loader mother covloader hide" style="margin-top:5px !important;margin-left: 0px !important">
        <span class="loader-label" style="font-size:12px !important">Calling variants for mother</span>      
        <img src="assets/images/wheel.gif">
     </div>
  	 <div class="loader father covloader hide" style="margin-top:5px !important;margin-left: 0px !important">
        <span class="loader-label" style="font-size:12px !important">Calling variants for father</span>      
        <img src="assets/images/wheel.gif">
     </div>

  	 <div class="proband call-variants-count hide" style="margin-top:5px !important;">
  	 </div>
  	 <div class="mother call-variants-count hide " style="margin-top:5px !important;">
  	 </div>
  	 <div class="father call-variants-count hide" style="margin-top:5px !important;">
  	 </div>



  	</div>


</div>