#template("colorThemeInit.vm")
/* =========================================
 * GENERAL
 */
#body {
  overflow: hidden;
}
/* =========================================
 * NOTIFICATIONS
 */
#body .xnotification-container {
  right: 0 !important;
  left: auto !important;
  width: 250px;
}
#body .xnotification {
  background: $theme.pageContentBackgroundColor none 2px .7em no-repeat !important;
  border: 2px solid $theme.borderColor;
  box-shadow: 0 0 6px #AAA, 0 0 25px #DDD inset;
  color: $theme.textColor !important;
  display: block;
  font-weight: normal;
  margin: 2px;
  padding: 0.5em 22px;
  text-align: left;
  width: 200px;
}
#body .xnotification-inprogress {
  background-image: url("$xwiki.getSkinFile('icons/xwiki/spinner.gif')") !important;
}
#body .xnotification-error {
  background-image: url("$xwiki.getSkinFile('icons/silk/delete.png')") !important;
  color: $theme.notificationErrorColor !important;
  border-color: $theme.notificationErrorColor !important;
}
#body .xnotification-warning {
  background-image: url("$xwiki.getSkinFile('icons/silk/error.png')") !important;
  color: $theme.notificationWarningColor !important;
  border-color: $theme.notificationWarningColor !important;
}
#body .xnotification-info {
  background-image: url("$xwiki.getSkinFile('icons/silk/information.png')") !important;
  color: $theme.notificationInfoColor !important;
  border-color: $theme.notificationInfoColor !important;
}
#body .xnotification-done {
  background-image: url("$xwiki.getSkinFile('icons/silk/tick.png')") !important;
  color: $theme.notificationSuccessColor !important;
  border-color: $theme.notificationSuccessColor !important;
}
/* =========================================
 * MENU
 */
#editor-menu {
  background: #444;
  padding: 6px;
}
#editor-menu .action-group {
  display: inline-block;
}
#editor-menu .external-actions {
  float: right;
}
#editor-menu .menu-item {
  border: 1px solid #333;
  border-radius: 4px;
  background: #444 none .2em center no-repeat;
  color: #fff;
  padding: .2em .2em .2em 22px;
  margin: 0 .7em 0 0;
  box-shadow: #222222 0 0 6px 0;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
}
#editor-menu .new {
  background-image: url("$xwiki.getSkinFile('icons/silk/add.png')");
}
#editor-menu .undo {
  background-image: url("$xwiki.getSkinFile('icons/silk/arrow_undo.png')");
}
#editor-menu .redo {
  background-image: url("$xwiki.getSkinFile('icons/silk/arrow_redo.png')");
}
#editor-menu .layout {
  background-image: url("$xwiki.getSkinFile('icons/silk/chart_organisation.png')");
}
#editor-menu .clear {
  background-image: url("$xwiki.getSkinFile('icons/silk/cancel.png')");
}
#editor-menu .print {
  background-image: url("$xwiki.getSkinFile('icons/silk/printer.png')");
}
#editor-menu .save {
  background-image: url("$xwiki.getSkinFile('icons/silk/disk.png')"); /* bullet_disk.png */
}
#editor-menu .export {
  background-image: url("$xwiki.getSkinFile('icons/silk/package.png')");
}
#editor-menu .close {
  background-image: url("$xwiki.getSkinFile('icons/silk/bullet_go.png')");
}
#editor-menu .readonlymessage {
  background-image: url("$xwiki.getSkinFile('icons/silk/bullet_error.png')");
}
#editor-menu .reload {
  background-image: url("$xwiki.getSkinFile('icons/silk/arrow_refresh_small.png')");
}
#editor-menu .templates {
  background-image: url("$xwiki.getSkinFile('icons/silk/bullet_star.png')"); /* star.png */
}
#editor-menu .import {
  background-image: url("$xwiki.getSkinFile('icons/silk/shape_square_go.png')"); /* bullet_go.png, folder_go.png, page_white_go.png */
}
#editor-menu .settings {
  background-image: url("$xwiki.getSkinFile('icons/silk/control_equalizer_blue.png')");
}

.loading-indicator {
    background-image: url("$xwiki.getSkinFile('icons/xwiki/ajax-loader-large.gif')");
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 200px;
}
#editor-menu .menu-item:hover {
  box-shadow: #fff 0 0 6px 0;
}
/* =========================================
 * CONTROLS
 */
.view-controls {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 4px;
  opacity: .8;
  z-index: 100000;
}
.view-controls:hover {
  ##opacity: 1;
}
/* ----------------------------------------
 * Pan
 */
.view-controls-pan {
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
  position: absolute;
  border: 1px solid #aaa;
  background: #FFF;
  border-radius: 30px;
  box-shadow: 0 0 6px #AAAAAA;
}
.view-controls-pan * {
  width: 16px;
  height: 16px;
  background: transparent none center center no-repeat;
  position: absolute;
  cursor: pointer;
}
.view-controls-pan .pan-up {
  top: 4px;
  left: 22px;
  background-image: url("$xwiki.getSkinFile('icons/silk/arrow_up.png')");
}
.view-controls-pan .pan-right {
  top: 22px;
  right: 4px;
  background-image: url("$xwiki.getSkinFile('icons/silk/arrow_right.png')");
}
.view-controls-pan .pan-down {
  bottom: 4px;
  left: 22px;
  background-image: url("$xwiki.getSkinFile('icons/silk/arrow_down.png')");
}
.view-controls-pan .pan-left {
  top: 22px;
  left: 4px;
  background-image: url("$xwiki.getSkinFile('icons/silk/arrow_left.png')");
}
/* ----------------------------------------
 * Zoom
 */
.view-controls-zoom {
  width: 60px;
  left: 0;
  top: 70px;
  position: absolute;
  text-align: center;
}
.view-controls-zoom * {
  background: #FFF none center center no-repeat;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 0 6px #AAAAAA;
  margin: auto;
}
.view-controls-zoom .zoom-track {
  width: 4px;
  height: 200px;
  position: relative;
}
.view-controls-zoom .zoom-button {
  width: 20px;
  height: 20px;
}
.view-controls-zoom .zoom-out {
  background-image: url("$xwiki.getSkinFile('icons/silk/zoom_out.png')");
}
.view-controls-zoom .zoom-in {
  background-image: url("$xwiki.getSkinFile('icons/silk/zoom_in.png')");
}
.view-controls-zoom .zoom-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 10px;
  margin-left: -9px;
}
.view-controls-zoom .zoom-crt-value {
  background: transparent;
  border: 0 none;
  box-shadow: none;
}
/* =========================================
 * CANVAS
 */
#canvas {
  overflow: hidden;

  /* fallback */
  background-color: #FAFAFA;
  background-position: center center;
  background-repeat: no-repeat;

  background: -o-radial-gradient(circle, #FFFFFF, #D2D2D2);
  background: -webkit-radial-gradient(circle, #FFFFFF, #D2D2D2);
  background: radial-gradient(circle, #FFFFFF, #D2D2D2);
}
/* ===========================================
 * LEGEND
 */
#work-area {
  position: relative;
}
.legend-box {
  position: absolute;
  top: 5px;
  right: 0;
  padding: 4px;
  background: #FFF;
  z-index: 100000;
  border-radius: 0 0 0 4px;
  padding: .5em 1em;
  width: 15%;
  min-width: 100px;
}

.legend-box .legend-tab {
  display: block;
  height: 28px;
  width: 28px;
  background: #FFF url("$xwiki.getSkinFile('icons/silk/information.png')") center center no-repeat;
  border-radius: 4px 0 0 4px;
  position: absolute;
  top: 0;
  left: -28px;
}
.legend-box .legend-title {
  font-size: 1.1em;
  margin: 0 0 0.3em;
}

.legend-box .disorder-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.disorder-color {
  display: inline-block;
  width: .8em;
  height: .8em;
  margin: 0 .5em .2em 0;
  border-radius: .4em;
  background-color: #DDD;
  vertical-align: middle;
}
.disorder-cases-container {
  font-size: .8em;
  font-style: italic;
  color: #777;
}
/* ===========================================
 * NODE MENU
 */
.menu-box {
  position: absolute;
  width: 330px;
  color: #000000;
}
.relationship-menu {
  width: 290px;
}
.menu-box form:hover {
  box-shadow: 0 0 6px #FF9, 0 0 25px #DDDDDD inset;
}
.menu-box form {
  padding: .3em 1.3em 0.7em;
  border: 1px solid #F5F5F5;
  border-radius: 0 .75em .75em .75em;
  background: #EEE;
  box-shadow: 0 0 6px #DDD, 0 0 25px #DDDDDD inset;
}
.menu-box .close-button {
  cursor: pointer;
  float: right;
  font-size: 16px;
  font-weight: bold;
  height: 12px;
  line-height: 9px;
  margin: .3em .3em;
  text-align: center;
  width: 12px;
}
.menu-box .field-box {
  padding: .5em 0;
}
.menu-box .field-box input[type=text] {
  width: 99%;
}
.menu-box .field-box input[type=text]:focus {
  border: 1px solid #DDD;
}
.menu-box .field-box textarea {
  width: 99%;
  resize: none;
  border: 1px solid #E8E8E8;
}
/* 3.3em height is set because firefox does not respect the rows qualifier for the textarea,
   displaying one more line than most other browsers. Less than 3.3em and there is no scrollbar in FF */
.menu-box .field-box .textarea-2-rows {
  height: 3.3em;
}
.menu-box .field-box .textarea-3-rows {
  height: 4.3em;
}
.import-upload {
  display: block;
  margin: 0.2em 0 0.75em 7.5em;
  text-align: left;
}
/*
.import-selector {
  overflow: auto;
}*/
.import-selector .import-textarea {
  height: 10em;
  resize: none;
  width: 84%;
  /*border: 1px solid #E8E8E8;*/
  margin: .2em .2em 0 7.5em;
  display: block;
}
.import-block {
  margin: 0.75em 0 0.5em 0;
  display: block;
}
.import-block-bottom {
  margin: 1.25em 0 0.5em 0;
}
.import-section {
  font-weight: bold;
  float: left;
}
.import-type-label {
  float: left;
  margin: 0 1em 0 0.8em;
}
.import-config-label {
  float: left;
  margin: 0 1em 0 2.5em;
}
.import-mark-label1 {
  float: left;
  margin: 0.25em 1em 0 2.5em;
}
.import-mark-label2 {
  float: left;
  margin: 0 1em 0 2.5em;
}
.menu-box .field-box textarea:focus {
  border: 1px solid #DDD;
}
.menu-box .field-name {
  display: block;
  font-weight: bold;
}
.menu-box .accepted-suggestions li {
  line-height: 1em;
  padding: .2em 1em .1em 0;
  font-size: 85%
}
.menu-box .accepted-suggestions li:hover {
  background-color: #FFEE99;
}
.menu-box .accepted-suggestions li .delete-tool {
  position: absolute;
  top: .4em;
  right: 0;
  display: inline !important;
}
.field-values label {
  display: block;
}
.field-values {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
.field-values-3-columns {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}
.field-values-3-columns label {
  display: block;
}

.field-inputs {
  display: table;
  width: 100%;
}
.field-inputs>span {
  display: table-cell;
}

.menu-box .field-first_name {
  width: 48%;
  float: left;
}
.menu-box .field-last_name {
  width: 48%;
  float: right;
}
.menu-box .field-last_name_birth {
  width: 48%;
  float: left;
  padding: .5em 0 1em;
}
.menu-box .field-external_id {
  width: 48%;
  float: right;
  padding: .5em 0 1em;
}
.menu-box .field-date_of_birth {
  width: 48%;
  float: left;
}
.menu-box .field-date_of_death {
  width: 48%;
  float: right;
}
.menu-box .accepted-suggestions {
  margin: 0px 0px 0.3em !important;
}
.menu-box .field-childlessText {
  padding: 0 0;
}
.menu-box .field-adopted {
  padding: 0.26em 0;
}
.menu-box .field-monozygotic {
  padding: 0.26em 0;
}
.menu-box .field-placeholder {
  padding: 0.26em 0;
}
.menu-box .field-gestation_age {
  padding: 0.48em 0;
}
.menu-box .field-evaluated {
  padding-top: 0;
  padding-bottom: 0.5em;
  padding-right: 0;
  padding-left: 0.08em;
}
.menu-box .field-evaluated .field-name {
  font-weight: normal;
}
.menu-box .field-carrier {
  padding-top: 0.4em;
  padding-bottom: 0.2em;
  padding-right: 0;
  padding-left: 0;
}
.menu-box .field-comments {
  padding: 0.3em 0;
}
.menu-box .field-disorders {
  padding: 0.6em 0;
}
.menu-box .field-identifier {
  padding: 0.2em 0;
}
.menu-box .field-childlessSelect {
  padding: 0.5em 0 0.5em;
}

/* ===========================================
 * NODE TYPE OPTIONS
 */
.callout {
  position: absolute;
  width: auto;
  padding: 3px 0;
  border: 1px solid #F5F5F5;
  border-radius: 4px;
  background: #EEE;
  text-align: center;
  white-space: nowrap !important;
  box-shadow: 0 0 6px #FF9, 0 0 25px #DDDDDD inset;
}
.callout .callout-handle {
  position: absolute;
  top: -8px;
  border: 10px solid #e5e5e5;
  border-top-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  display: block;
  width: 0;
  z-index: 10;
  margin-left: -10px;
}
.callout.upside .callout-handle {
  border-top-width: 10px;
  border-bottom-width: 0;
  top: auto;
  bottom: -8px;
}
.node-type-options {
  position: relative;
}
.node-type-options .separator {
  display: inline-block;
  width: 0;
  margin: 0 12px;
  overflow: hidden;
}
.node-type-options .node-type-option {
  background: transparent none center center no-repeat;
  border: 1px solid #F5F5F5;
  border-radius: 4px;
  display: inline-block;
  margin: 3px;
  height: 24px;
  width: 24px;
  box-shadow: 0 0 9px #DDDDDD inset;
  color: black !important;
  vertical-align: middle;
  text-decoration: none !important;
 /*
  TODO: Keep this:
  overflow: hidden;
  text-indent: 48px;
  line-height: 48px;
  font-size: 1px;
  TODO: remove this
  */
  text-align: center;
  line-height: 24px;
}
.expand-arrow {
  cursor: pointer;
}
.node-type-options .expandable-node-type-option {
    background: transparent none center center no-repeat;
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    display: inline-block;
    margin: 3px;
    height: 24px;
    width: 24px;
    box-shadow: 0 0 9px #DDDDDD inset;
    color: black !important;
    vertical-align: middle;
    text-decoration: none !important;
    /*
    TODO: Keep this:
    overflow: hidden;
    text-indent: 48px;
    line-height: 48px;
    font-size: 1px;
    TODO: remove this
    */
    text-align: center;
    line-height: 24px;
}
.node-type-options-extended * {
    vertical-align: middle;
}

.value-control-button {
  border: 1px solid #FFF;
  border-radius: 3px;
  box-shadow: 0 0 5px #DDD inset;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
  height: 1em;
  line-height: 1em;
  margin: 3px;
  padding: 3px;
  text-align: center;
  width: 1em;
}
.minus-button {
  color: #C00;
}

.plus-button {
  color: #080;
}

.msdialog-modal-container .pedigree-template-chooser {
    width: 500px;
}
.picture-box {
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 2px;
    margin: 10px;
}
.picture-box:hover {
    cursor: pointer;
    box-shadow: rgba(0, 10, 0, 0.5) 0 0 5px 4px;
}

.template-picture-container {
    display: inline-block;
    margin: 3px;
}

.msdialog-box {
    /*overflow:auto;*/
    width: 650px;
}
.msdialog-box .content {
    text-align: center;
}
.no-mouse-interaction {
    pointer-events: none;
}

/* TODO: add icons to each option type:
.node-type-options .node-type-M {
  background-image: url("$xwiki.getSkinFile('.png')");
}
.node-type-options .node-type-F {
  background-image: url("$xwiki.getSkinFile('.png')");
}
.node-type-options .node-type-U {
  background-image: url("$xwiki.getSkinFile('.png')");
}
.node-type-options .node-type-T {
  background-image: url("$xwiki.getSkinFile('.png')");
}
.node-type-options .node-type-m {
  background-image: url("$xwiki.getSkinFile('.png')");
}
.node-type-options .node-type-i {
  background-image: url("$xwiki.getSkinFile('.png')");
}
.node-type-options .node-type-n {
  background-image: url("$xwiki.getSkinFile('.png')");
}
*/
